.gallary {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.img {
  height: 300px;
  width: 100%;
}
.card {
  display: flex;
  flex: 20%;
  margin: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.bnt-gallary {
  padding: 6px 10px;
  background: orange;
  margin: 5px;
  border: 2px solid lightblue;
  color: black;
  font-weight: bold;
  transition: 0.5s ease;
}
.bnt-gallary:hover {
  padding: 6px 10px;
  background: transparent;
  margin: 5px;
  border: 2px solid orangered;
  color: orangered;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s ease;
}
.card:hover {
  display: flex;
  flex: 20%;
  margin: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  box-shadow: 0 0 7px 3px;
  border-radius: 5px;
}
.desc {
  display: flex;
  flex-direction: column;
}

@media (max-width: 998px) {
  .card {
    display: flex;
    flex: 25%;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card:hover {
    display: flex;
    flex: 25%;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    box-shadow: 0 0 7px 3px;
    border-radius: 5px;
  }
}
@media (max-width: 780px) {
  .card {
    display: flex;
    flex: 40%;
    margin: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card:hover {
    display: flex;
    flex: 40%;
    margin: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    box-shadow: 0 0 7px 3px;
    border-radius: 5px;
  }
}
@media (max-width: 500px) {
  .card {
    display: flex;
    flex: 100%;
    margin: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card:hover {
    display: flex;
    flex: 100%;
    margin: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    box-shadow: 0 0 7px 3px;
    border-radius: 5px;
  }
}
