.gallary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(228, 218, 218, 0.5);
}
.card {
  display: flex;
  flex-direction: column;
  flex: 20%;
  margin: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card img {
  height: 300px;
  width: 300px;
  transition: all 0.4s ease;
}
.card img:hover {
  height: 280px;
  width: 280px;
  box-shadow: 0 0 1px 2px grey;
  /* transform: translate(5%); */
  transform: rotate(5deg);
}
.card h3 {
  color: orange;
}
.card p {
  color: grey;
}
.hot {
  position: absolute;
  top: 0;

  left: 0;
  padding: 7px;
  color: white;
  background: red;
}
.new {
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px;
  color: white;
  background: green;
}
.add-to-cart {
  color: orangered;
  border: 2px solid orange;
  padding: 4px;
  margin-top: 9px;
  cursor: pointer;
  transition: 0.5s ease;
}
.add-to-cart:hover {
  color: white;
  border: 2px solid orange;
  background: orange;
  padding: 4px;
  margin-top: 9px;
  cursor: pointer;
  transition: 0.5s ease;
}
